<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/ashuhatkar/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="ashuhatkar" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>