<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/ashuhatkar/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="ashuhatkar" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>